@keyframes shrink {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1, 0.2);
  }
}

@keyframes shrinkWithColor {
  from {
    transform: scale(1, 1);
    background: #1ab91a;
  }
  to {
    transform: scale(1, 0.2);
    background: orangered;
  }
}

@keyframes shrinkWithHeight {
  from {
    height: 32px;
  }
  to {
    height: 8px;
  }
}

#wave1, #wave2, #waveRandom {
  width: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wave3, #wave4 {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#wave4 {
  align-items: flex-end;
}

#wave1 > .bar, #wave2 > .bar, #waveRandom > .bar, #wave3 > .bar, #wave4 > .bar {
  width: 4px;
  height: 32px;
  border-radius: 4px;
  background: #1ab91a;
}

/* 随机延迟时间在js中解决 */
#wave1 > .bar:first-child, #waveRandom > .bar:first-child {
  animation: shrink 0.3s infinite 0s alternate;
}

#wave1 > .bar:nth-child(2), #waveRandom > .bar:nth-child(2) {
  animation: shrink 0.3s infinite 0.1s alternate;
}

#wave1 > .bar:nth-child(3), #waveRandom > .bar:nth-child(3) {
  animation: shrink 0.3s infinite 0.2s alternate;
}

#wave1 > .bar:nth-child(4), #waveRandom > .bar:nth-child(4) {
  animation: shrink 0.3s infinite 0.3s alternate;
}

#wave1 > .bar:last-child, #waveRandom > .bar:last-child {
  animation: shrink 0.3s infinite 0.4s alternate;
}

#wave2 > .bar:first-child {
  animation: shrinkWithColor 0.3s infinite 0s alternate;
}

#wave2 > .bar:nth-child(2) {
  animation: shrinkWithColor 0.3s infinite 0.1s alternate;
}

#wave2 > .bar:nth-child(3) {
  animation: shrinkWithColor 0.3s infinite 0.2s alternate;
}

#wave2 > .bar:nth-child(4) {
  animation: shrinkWithColor 0.3s infinite 0.3s alternate;
}

#wave2 > .bar:last-child {
  animation: shrinkWithColor 0.3s infinite 0.4s alternate;
}

#wave3 > .bar:first-child, #wave4 > .bar:first-child {
  animation: shrinkWithHeight 0.3s infinite 0s alternate;
}
#wave3 > .bar:nth-child(2), #wave4 > .bar:nth-child(2) {
  animation: shrinkWithHeight 0.3s infinite 0.1s alternate;
}
#wave3 > .bar:nth-child(3), #wave4 > .bar:nth-child(3) {
  animation: shrinkWithHeight 0.3s infinite 0.2s alternate;
}
#wave3 > .bar:nth-child(4), #wave4 > .bar:nth-child(4) {
  animation: shrinkWithHeight 0.3s infinite 0.3s alternate;
}
#wave3 > .bar:last-child, #wave4 > .bar:last-child {
  animation: shrinkWithHeight 0.3s infinite 0.4s alternate;
}
